@using PatchService
@using TalkgroupService

@model TalkgroupDetailViewModel

@(Html.Kendo().Grid<PatchDetailViewModel>()
    .Name("PatchesGrid")
    .Columns(column =>
    {
        column.Bound(col => col.TowerNumber)
            .Title("Tower #")
            .Width(125)
            .Filterable(true);
        column.Bound(col => col.TowerName)
            .Title("Name")
            .Filterable(false);
        column.Bound(col => col.FromTalkgroupID)
            .Title("From TG")
            .Width(125)
            .Filterable(true);
        column.Bound(col => col.FromTalkgroupName)
            .Title("Name")
            .Filterable(filter => filter.Extra(false));
        column.Bound(col => col.ToTalkgroupID)
            .Title("To TG")
            .Width(125)
            .Filterable(true);
        column.Bound(col => col.ToTalkgroupName)
            .Title("Name")
            .Filterable(filter => filter.Extra(false));
        column.Bound(col => col.FirstSeen)
            .Format("{0:MM-dd-yyyy HH:mm}")
            .Width(150)
            .Filterable(true);
        column.Bound(col => col.LastSeen)
            .Format("{0:MM-dd-yyyy HH:mm}")
            .Width(150)
            .Filterable(true);
        column.Bound(col => col.HitCount)
            .Title("Hit Count")
            .Format("{0:#,##0}")
            .Width(100)
            .Filterable(false);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
                            <div class="toolbar-export">
                                <a href="#" class="k-button k-button-icontext k-grid-excel" title="Export data to Excel">
                                    <span class="k-icon k-i-excel"></span>Export
                                </a>
                            </div>
                        </text>);
    })
    .Filterable(filter =>
    {
        filter.Enabled(true);
        filter.Operators(operators =>
        {
            operators.ForNumber(number =>
                number.Clear()
                    .IsGreaterThanOrEqualTo(">=")
                    .IsLessThanOrEqualTo("<="));

            operators.ForString(str =>
                str.Clear()
                    .Contains("Contains"));

            operators.ForDate(date =>
                date.Clear()
                    .IsGreaterThanOrEqualTo(">=")
                    .IsLessThanOrEqualTo("<="));
        });
    })
    .Scrollable(scroll => scroll.Height(575))
    .Sortable(sort =>
        sort.SortMode(GridSortMode.SingleColumn)
            .AllowUnsort(false))
    .Pageable(pageable =>
        pageable.Input(true)
            .Refresh(true))
    .Selectable(selectable =>
        selectable.Mode(GridSelectionMode.Single)
            .Type(GridSelectionType.Row))
    .Events(events =>
        events.DataBound("Grids.PatchesDataBound")
            .Change("Grids.PatchChange")
            .FilterMenuInit("Filters.RadioFilterFormats"))
    .Excel(excel =>
        excel.AllPages(true)
            .Filterable(true)
            .FileName($"TalkgroupPatches-{Model.SystemID}-{Model.TalkgroupID}.xlsx"))
    .DataSource(dataSource =>
        dataSource.Ajax()
            .PageSize(15)
            .ServerOperation(true)
            .Sort(sort => sort.Add("TowerNumber").Ascending())
            .Read(read => read.Action("GetPatches", "Talkgroup", new { systemID = Model.SystemID, talkgroupID = Model.TalkgroupID })
                .Data("DetailSearches.GetSearchData"))))
